* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 1em;
    font-family: inherit;
    vertical-align: baseline;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
    border-top: 10px solid #000000;
}

img {
    display: none;
}

h1 {
    font-size: 2em;
    color: #CC3333;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

h2 {
    font-size: 1.4em;
    color: #666666;
    text-align: left;
    padding-bottom: 5px;
}

h2 span {
    color: #666666;
    padding-left: 60%;
}

h3 {
    font-size: 1.2em;
    color: #575757;
    text-align: left;
    margin-bottom: 7px;
    padding-bottom: 3px;
    border-bottom: 2px dashed #575757;
}


#intro {
    padding-top: 10px;
    padding-bottom: 30px;
}

#intro p {
    padding-bottom: 3px;
    border-bottom: 1px solid #A3A3A3;
    font-style: italic;
}

.column_content {
    text-align: justify;
}

.column_content p::first-letter {
    padding-left: 15px;
}

.column_content a {
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}

.column_content a:hover {
    color: #B80000;
}

.column_left, .column_right {
    padding-top: 3px;
    padding-bottom: 15px;
}

.contact ul {
    text-align: center;
}

.contact li {
    padding-bottom: 5px;
}

.contact p:first-of-type {
    padding-bottom: 15px;
}

.contact p:last-of-type {
    padding-top: 10px;
}

.interests  p {
    padding-bottom: 3px;
}

#footer_left {
    display: none;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    border-bottom: 1px dotted #FFFFFF;
    color: #FFFFFF;
}

footer a:hover {
    color: #E80000;
    border-bottom: 1px dotted #E80000;
}
